RewriteEngine On

# Ensure the server knows where to look for the root folder (index.php)
RewriteBase /apikor/

# If the URL doesn't contain a file or directory, route to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
